/* Left and Right columns */
.section1 {
  float:left;
  width: 20%;
  text-align: right;
}

.color{
  display: block;
  margin: auto;
  margin-right: 5px;
  color: #2d3c49;
}

.section2 {
  float: right;
  width: 80%;
}


/* Header Sectiono*/

.header{
  font-family: 'Josefin Slab', sans-serif;
  position: static;
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: 27px;
  margin-bottom: 1em;
  text-align: right;
  border-bottom: solid 8px #2d3c49;
/*  display: block;*/
}

.header_logo {
  display: inline-flex;
  float: left;
  margin: auto;
  top: 10px;
  left: 2em;
}

.header_text {
  text-align: right;
  display:block;
  text-align: right;
  text-transform: capitalize;
}

.header_lowercase {
  clear: both;
  text-align: right;
  text-transform: capitalize;
}

/*main body*/
.main{
  display:flex;
  flex-wrap: wrap;
}

.main_image{
  display: block;
  margin: 0 auto;
  width: 90%;
  height: auto;
}

/* Featured section */
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.first_project {
  order: 1;
}

.second_project {
  order: 2;
}

.third_project {
  order: 3;
}

.box {
  margin: auto;
}
